# cmake build folders
/build*/

# junk
/tmp/

# vscode
**/.vscode/
**/.vscode-ctags

# GDB
**/.gdb_history

# LLDB
**/.lldb_history

# various build artifacts
*.asm
*.s
*.s
*.i
*.ii
*.ll
*.bc
*.a
*.dylib
*.so
*.o

# Apple DWARF
**/*.dSYM/

# Python
/python/src/instdec/_version.py
/python/src/instdec.egg-info/

**/.mypy_cache/
**/.ruff_cache/
**/__pycache__/
**/*.egg-info/
**/*.pyc
**/.pytest_cache
**/.benchmarks
