/ {
	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart2;
	};
};

&dma1 {
	status = "okay";
};

// &usart1 {
// 	pinctrl-0 = <&usart1_tx_remap1_pb6 &usart1_rx_remap1_pb7>;
// 	current-speed = <3000000>;
// 	dmas = <&dma1 4 0x440>, <&dma1 5 0x480>;
// 	dma-names = "tx", "rx";
// };

&usart1 {
	current-speed = <4500000>;
};

&usart2 {
	current-speed = <2250000>;
};

&usart3 {
	current-speed = <2250000>;
};

// &usb {
// 	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
// 	pinctrl-1 = <&usb_dm_pa11_gpio_se0 &usb_dp_pa12_gpio_se0>;
// 	pinctrl-names = "default", "gpio_se0";
// 	num-bidir-endpoints = <3>;
// };
